.v-textfield-darkBorder {
    border: 1px solid #4455aa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background:#FFFFFF url("libraryPic.jpg") no-repeat 5px 2px;
    padding-left: 22px;
}